<template>
  <div class="container">
    <div style="margin: 20px auto; width: 50%; min-width: 300px">
      <el-input placeholder="search" v-model="keywords">
        <el-button slot="append" icon="el-icon-search" @click="getContacts"></el-button>
      </el-input>
    </div>
    <div class="block">
      <el-table
        :data="contacts"
        v-loading="contactListloading"
        style="width: 100%"
        border
        @sort-change="handleSortChange"
        >
        <el-table-column
          prop="Name"
          label="Name"
          sortable="custom">
          <template slot-scope="scope">
            <el-button
              @click.native.prevent="handleUserNameClick(scope.row)"
              type="text"
              size="small">
              {{scope.row.Name}}
            </el-button>
          </template>
        </el-table-column>
        <el-table-column
          prop="Title"
          label="Title"
          sortable="custom">
        </el-table-column>
        <el-table-column
          prop="BirthDate"
          label="BirthDate"
          sortable="custom">
        </el-table-column>
        <el-table-column
          prop="IsFavorite"
          label="IsFavorite"
          sortable="custom">
        </el-table-column>
      </el-table>
    </div>
    <div class="block" style="margin-top: 20px">
      <el-pagination
        v-loading="contactDetailloading"
        @size-change="handleSizeChange"
        @current-change="handleCurrentChange"
        :current-page="pageNumber + 1"
        :page-sizes="[10, 20, 50, 100]"
        :page-size="pageSize"
        layout="total, sizes, prev, pager, next"
        :total="total">
      </el-pagination>
    </div>
    <el-drawer
      :title="currentContact.Name"
      :visible.sync="showDrawer"
      :before-close="handleDrawerClose"
      direction="rtl"
      size="50%">
      <el-table :data="contactDetails" style="margin: 20px 20px 0">
          <el-table-column property="ContactDetailType" label="Type"></el-table-column>
          <el-table-column property="ContactDetailContent" label="Content"></el-table-column>
        </el-table>
    </el-drawer>
  </div>
</template>

<script>
export default {
  data() {
    return {
      contactListloading: false,
      contactDetailloading: false,
      pageNumber: 0,
      pageSize: 10,
      keywords: '',
      sortType: null,
      sortProperty: '',
      contacts: [],
      currentContact: {}, 
      contactDetails: [],
      total: 0,
      showDrawer: false,
    }
  },
  mounted() {
    this.getContacts();
  },
  methods: {
    async getContacts() {
      try {
        this.contactListloading = true;
        const res = await this.$axios.get(`/api/contact?keywords=${this.keywords}&pageNumber=${this.pageNumber}&pageSize=${this.pageSize}&sortType=${this.getSortType(this.sortType)}&sortProperty=${this.sortProperty}`)
        if (res.data.code === 0) {
          const {
            contacts,
            pageNumber,
            pageSize,
            total,
          } = res.data.data;
          this.contacts = contacts;
          this.pageNumber = Number(pageNumber);
          this.pageSize = Number(pageSize);
          this.total = Number(total);
        } else {
          alert(res.data.message);
        }
      } catch (err) {
        alert(err.message)
      } finally {
        this.contactListloading = false;
      }
    },
    async getContactDetails(id) {
      this.contactDetailloading = true;
      try {
        const res = await this.$axios.get(`/api/contact/${id}`)
        if (res.data.code === 0) {
          this.contactDetails = res.data.data
        } else {
          alert(res.data.message);
        }
      } catch (err) {
        alert(err.message)
      } finally {
        this.contactDetailloading = false;
      }
    },
    getSortType(order) {
      switch (order) {
        case 'ascending':
          return 'ASC'

        case 'descending':
          return 'DESC'
      
        default:
          return null;
      }
    },
    handleSortChange({ column, prop, order }) {
      this.sortType = order
      this.sortProperty = prop
      this.getContacts();
    },
    handleCurrentChange(pageNumber) {
      this.pageNumber = pageNumber - 1;
      this.getContacts();
    },
    handleSizeChange(pageSize) {
      this.pageSize = pageSize;
      this.getContacts();
    },
    handleUserNameClick(contact) {
      this.getContactDetails(contact.UserID);
      this.showDrawer = true;
      this.currentContact = contact;
    },
    handleDrawerClose() {
      this.currentContact = {};
      this.showDrawer = false;
    }
  }
}
</script>

<style>
</style>
